body {
	background-color: LightCyan;
}

header {
	color: gray;
	text-align: center;
	padding: 5px;
}

nav {
	line-height: 50px;
	background-color: #eeeeee;
	height: 300px;
	width: 100px;
	float: left;
	padding: 5px;
}